logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/smgrrd/*
/monlog/*
/monstate/*
/test-out/*
/public/smg/*
/public/docs/*
/public/plugins/jsgraph/pl/plotly-1.18.0.min.js
.DS_Store


