logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
#/smgrrd/*
#/public/smg/*
#/monlog/*
#/monstate/*
/test-out/*
/public/docs/*
/public/plugins/jsgraph/pl/plotly-1.18.0.min.js
/conf/build-number.conf
.DS_Store
k8s-local



