
.cdash-title {
}

.cdash-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.cdash-item {
  word-wrap: break-word;
  overflow: auto;
}

.cdash-item-title {
  text-align: center;
  font-weight: bold;
}

.cdash-item-body {
}

.cdash-list {
  padding-left: 5px;
}

.cdash-list-item {
  list-style-position: inside;
}
