@import com.smule.smg.grapher.GraphOptions
@import com.smule.smg.grapher.SMGImageView
@import com.smule.smg.config.SMGConfigService

@(cfSvc: SMGConfigService, g: SMGImageView, gopts: GraphOptions)

@if(g.fetchUrl.size < cfSvc.config.maxUrlSize) {
  [<a href="@{g.fetchUrl}">csv</a>,<a href="@{g.fetchUrl}&d=1">dl</a>]
} else {
  @defining(g.fetchUrl.split("\\?", 2)) { arr =>
    [<button onclick="smgPostString('@arr(0)','@{arr.lift(1).getOrElse("")}')">csv</button>,
      <button onclick="smgPostString('@arr(0)','@{arr.lift(1).getOrElse("")}' + '&d=1')">dl</button>]
  }
}
