@import com.smule.smg.SMGImageView
@import com.smule.smg.SMGAggObjectView
@import com.smule.smg.SMGFilter
@import com.smule.smg.GrapherApi ; val predefPeriods = GrapherApi.detailPeriods
@import com.smule.smg.SMGRemote
@import com.smule.smg.SMGIndex
@import com.smule.smg.SMGConfigService
@import com.smule.smg.GraphOptions
@import com.smule.smg.SMGMonState
@import com.smule.smg.SMGMonStateAgg
@import com.smule.smg.SMGLocalConfig
@import controllers.Application

@(cfSvc: SMGConfigService, idx: Option[SMGIndex], parentIdx: Option[SMGIndex],
  result: Seq[Application#DashboardGraphsGroup], flt: SMGFilter, dep: Application#DashboardExtraParams,
  aggOp: Option[String], showXRemote: Boolean,
  maxPg: Int, dispCount: Int, slicedCount: Int , tlCount: Int, availRemotes: Seq[SMGRemote],
  gopts: GraphOptions, showMs:Boolean, monData: Map[String, Seq[SMGMonState]],
  monOverviewOids: Seq[String], errorMsg: Option[String], matchingIndexes : Seq[SMGIndex],
  conf:SMGLocalConfig, isPost: Boolean)(implicit flash: Flash)

@main("SMG - " + (if (idx.isDefined) idx.get.title else flt.humanText), cfSvc, if (isPost) 0 else 300) {

  @if(errorMsg.isDefined){
    <div align="center"><h4><font color="red">Error: @errorMsg.get</font></h4></div>
  }

  @if(idx.nonEmpty) {
    <h3>Index: @idx.get.title
    @if(idx.get.desc.isDefined) {
      (@idx.get.desc.get)
    }
    </h3>
    @if(parentIdx.isDefined) {
      <h4>
        Parent: <a href="/dash?@parentIdx.get.asUrl">@parentIdx.get.title</a>
        @if(parentIdx.get.rows.isEmpty || parentIdx.get.rows.get > 0){
          @for( p <- predefPeriods) {
          <a href="/dash?@parentIdx.get.asUrlForPeriod(p)">(@p)</a>
          }
        }
        @if(parentIdx.get.desc.isDefined) {
        (@parentIdx.get.desc.get)
        }
      </h4>
    }
    @indexItem(idx.get, predefPeriods, 1)
    <hr>
  }

  @if(dep.rows > 0) {
    @filter(idx, flt, dep.period, dep.cols, dep.rows, availRemotes, aggOp,
            showXRemote, dep.xRemoteAgg, dep.groupBy, gopts, conf.maxUrlSize,
            GrapherApi.defaultPeriod, conf.dashDefaultCols,
            conf.dashDefaultRows, dep.pg)

    @if(aggOp.isEmpty){
    @displaySelectHeader()
    }

    <div class="alert alert-success">
      <p>Displaying @dispCount @if(aggOp.isDefined){ aggregate (@aggOp.get) } graphs (using @slicedCount out of @tlCount
        matching objects) in max @dep.cols columns and max @dep.rows rows.</p>
      @if( aggOp.isDefined && (slicedCount < tlCount) ){
      <p><font color="red"><strong>WARNING: You are applying an aggregate function only on the displayed subset of the objects matching
        the current filter. Consider increasing page size if you really want to see aggregation from
        all (via Rows/Columns, up to a sane limit).</strong></font></p>
      } else { @if((gopts.xsort.getOrElse(0) != 0) && (slicedCount < tlCount)){
      <p><font color="red"><strong>WARNING: You are sorting only the displayed subset of the objects matching
        the current filter. Consider increasing page size if you really want to see them
        all sorted (via Rows/Columns, up to a sane limit).</strong></font></p>
      }}
    </div>

    @if(showMs){
      @monitorSvgRefObjects(monOverviewOids)
      @monStateListActions(monData.values.toSeq.flatten)
    }

    @filterPages(dep.pg, maxPg)

    @for(group <- result) {
      @if(group.levels.nonEmpty){
      <h3>@group.levels.head (@group.lst.size @if(group.lst.size == 1){graph} else {graphs})</h3>
        @for(lvl <- group.levels.tail){
        <h4>@lvl</h4>
        }
      <hr/>
      }
      <div class="smgraphcontainer">
        <div class="smgrow">
        @for( (g, ix) <- group.lst.zipWithIndex) {
          <div class="smgcell" style="max-width: @{conf.rrdConf.imageCellWidth}px;">
            <!-- @g.obj -->
            <a name="@g.obj.id" ></a> <a name="@g.period"></a> <a name="@g.obj.id-@g.period"></a>
            <div class="smgraph">
              <h4>@g.obj.title (@g.period, @g.resolution(gopts.step))
                @if(g.obj.stack) {
                  (stacked)
                }
                @fetchLinks(cfSvc, g, gopts)
              </h4>
              @if(g.obj.isAgg){
                <h5>@{g.obj.asInstanceOf[SMGAggObjectView].groupByKey.desc}</h5>
              }
              <div class="subtitle-div">
                <div class="subtitle-div">
                  @{g.obj.id} (@{g.obj.rrdType}) [<a href="#@g.obj.id" >#</a>]
                  @for(pa <- cfSvc.plugins.flatMap(_.actions)){
                  [<a href="@{pa.actionUrl(g.obj, dep.period)}">@{pa.name}</a>]
                  }
                </div>
                @if(aggOp.isEmpty){
                @displaySelectElem(g)
                }
                @if(showMs && monData.contains(g.obj.id)){
                <div>
                  <div class="subtitle-div">
                    @monitorSvgObjects(monData(g.obj.id), None)
                  </div>
                  @if(aggOp.isEmpty && monData.contains(g.obj.id)){
                    @defining(SMGMonStateAgg.aggByParentId(monData(g.obj.id)).headOption.map(_._2)) { objStateOpt =>
                      @if(objStateOpt.isDefined){
                      <div class="subtitle-div">
                      @monStateActions(objStateOpt.get, None)
                      </div>
                      }
                    }
                  }
                </div>
                }
              </div>
              @filterImage(cfSvc, g)
            </div>
          </div>
          @if(((ix + 1) % dep.cols) == 0) {
          </div><hr/><div class="smgrow">
          }
        }
        </div>
      </div>
    }

    @filterPages(dep.pg, maxPg)

    @if(matchingIndexes.nonEmpty){
      <hr/>
      Relevant indexes:
      @for(myix <- matchingIndexes) {
        [ <a href="/dash?@myix.asUrl">@myix.title</a> ]
      }
    }
  }

}
