@import com.smule.smg.SMGIndex
@import com.smule.smg.SMGFilter
@import com.smule.smg.SMGRemote
@import com.smule.smg.GraphOptions
@import com.smule.smg.SMGAggGroupBy

@(ix: Option[SMGIndex], flt: SMGFilter, period: String, cols: Int, rows: Int,
        availRemotes: Seq[SMGRemote], aggOp: Option[String],
        showXagg: Boolean, xagg: Boolean, groupBy: SMGAggGroupBy.Value,
        gopts: GraphOptions, maxUrlSize: Int, defaultPeriod: String, defaultCols: Int,
        defaultRows: Int, page: Int)


<form id="smgFilterForm" method="GET" action="/dash" class="filter-form" xmlns="http://www.w3.org/1999/html">

  <div class="panel panel-primary">
    <input type="hidden" id="smg-filter-ix" name="ix" value='@{ix.map(_.id).getOrElse("")}'>
    @if(ix.isDefined){
    <div class="panel-heading">
      <h3 class="panel-title">Index: @ix.get.title (@ix.get.id)</h3>
    </div>
    <div class="panel-body">
      <h5 style="word-wrap: break-word;">Index Filter: @ix.get.flt.humanText</h5>
      @if(ix.get.aggOp.isDefined) {
        <h5>Index aggregate function: @ix.get.aggOp.get @if(ix.get.xRemoteAgg){(Cross-Remote)}</h5>
      }
      <div class="form-group">
        <input title="Clear index filter and reload the page" id="smg-filter-clear-idx"
               onclick='document.getElementById("smg-filter-ix").value= ""; mySubmitOnChange(this);'
               class="form-control btn-submit-manual" type="button" value="Remove index filter">
      </div>
      <div class="form-group">
        <input title="Merge the index and user filters and reload the page" id="smg-filter-merge-idx"
               onclick='mergeIndexFilterAsUser(this);'
               class="form-control btn-submit-manual" type="button" value="Merge with user filter">
      </div>
    </div>
    }

    <div class="panel-heading">
      <h3 class="panel-title">User Filter: @flt.humanText</h3>
    </div>
    <div class="panel-body">
      @if(availRemotes.nonEmpty) {
      <div class="form-group form-group-rmt">
        <label class="manualsubmit-lbl"
               title="Display only objects from the specifed remote. Use * to match all remotes.">Remote filter:</label>
        <br />
        <select id="smg-filter-remote" name="remote" class="select-remote">
          @for(r <- availRemotes) {
          <option value='@r.id' @if(r.id == flt.remote.getOrElse("")){ selected } >@if(r.id == ""){Local}else{@r.id}</option>
          }
        </select>
      </div>
      }

      <div class="form-group">
        <label class="manualsubmit-lbl" for="smg-filter-trx"
               title="Display only objects which have graph object id, title, graph labels or units
matching all of the provided space separated case insensitive regular expressions">Text regex filters:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Clear filter" onclick="clearElem('smg-filter-trx');" />
        <input type="text" class="form-control"
               id="smg-filter-trx"
               name="trx" size="30" value='@flt.trx' >
      </div>

      <div class="form-group">
        <label class="manualsubmit-lbl" for="smg-filter-px"
               title="Display only objects which have ids having the specified prefix (NOT regex)">Prefix filter:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Clear filter" onclick="clearElem('smg-filter-px');" />
        <input type="text" class="form-control"
               id="smg-filter-px"
               name="px" value='@flt.px' >
      </div>
      <div class="form-group">
        <label class="manualsubmit-lbl" for="smg-filter-sx"
               title="Display only objects which have ids having the specified suffix (NOT regex)">Suffix filter:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Clear filter" onclick="clearElem('smg-filter-sx');" />
        <input type="text" class="form-control"
               id="smg-filter-sx"
               name="sx" value='@flt.sx' >
      </div>
      <div class="form-group">
        <label class="manualsubmit-lbl" for="smg-filter-rx"
               title="Display only objects which have ids matching the specified case insensitive regular expression">Regex filter:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Clear filter" onclick="clearElem('smg-filter-rx');" />
        <input type="text" class="form-control"
               id="smg-filter-rx"
               name="rx" value='@flt.rx' >
      </div>
      <div class="form-group">
        <label class="manualsubmit-lbl" for="smg-filter-rxx"
               title="Filter out objects which have ids matching the specified case insensitive regular expression">Regex exclude filter:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Clear filter" onclick="clearElem('smg-filter-rxx');" />
        <input type="text" class="form-control"
               id="smg-filter-rxx"
               name="rxx" value='@flt.rxx' >
      </div>

      <div class="form-group">
        <label class="manualsubmit-lbl"
            title="Reload the page using updated filters.">Apply filters</label>
        <input title="Reload the page using updated filters" id="smg-filter-submit"
               class="form-control btn-submit-manual"
               type="submit" value="Apply">
      </div>

      <!-- separator -->

      <div class="form-group" style="width: 5px;">
        &nbsp;
      </div>


      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-period"
               title="Period (time since) to cover in the graphs.
Changing this reloads the page.">Period since:</label>
        <input class="form-control" type="text"
               id="smg-filter-period"
               size="9" name="period" value="@period"
               onchange="mySubmitOnChange(this);">
      </div>

      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-pl"
               title="Optional period range (length) to cover in the graphs. Default is the entire range until current time.
Changing this reloads the page.">Period len:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Remove option" onclick="clearElem('smg-filter-pl');" />
        <input class="form-control" type="text"
               id="smg-filter-pl"
               size="9" name="pl" value="@gopts.pl"
               onchange="mySubmitOnChange(this);">
      </div>

      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-step"
               title="Requested graphs step (resolution). Specified in seconds (as number), minutes (e.g. 5m) or hours (e.g. 5h).
Changing this reloads the page.">Step:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Remove option" onclick="clearElem('smg-filter-step');" />
        <input class="form-control" type="text" id="smg-filter-step"
               size="9" name="step" value="@gopts.step" onchange="mySubmitOnChange(this);">
      </div>

      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-maxy"
               title="Requested graphs Y scale (max).
Changing this reloads the page.">MaxY:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Remove option" onclick="clearElem('smg-filter-maxy');" />
        <input class="form-control" type="text" id="smg-filter-maxy"
               size="12" name="maxy" value="@gopts.maxY" onchange="mySubmitOnChange(this);">
      </div>

      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-miny"
               title="Requested graphs Y scale (min, 0 unless specified).
Changing this reloads the page.">MinY:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Remove option" onclick="clearElem('smg-filter-miny');" />
        <input class="form-control" type="text" id="smg-filter-miny"
               size="12" name="miny" value="@gopts.minY" onchange="mySubmitOnChange(this);">
      </div>

      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-cols"
               title="How many graphs per row (columns) to display on the page.
Changing this reloads the page.">Cols:</label>
        <input class="form-control colsInput" type="text" pattern="[0-9\.\+\-E]+" id="smg-filter-cols"
               step="1" name="cols" value='@cols'
               onchange="mySubmitOnChange(this);" />
      </div>

      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-rows"
               title="Max rows of graphs to display on the page.
Changing this reloads the page.">Rows:</label>
        <input class="form-control rowsInput" type="text" pattern="[0-9\.\+\-E]+" id="smg-filter-rows"
               step="1" name="rows" value='@rows'
               onchange="mySubmitOnChange(this);" />
      </div>

      <div class="form-group form-group-cbs">
        <label for="dpp_cb" class="autosubmit-lbl" title="Disable the dotted line(s) representing the previous period value(s).
Changing this reloads the page.">Disable Period-Over-Period:</label>
        <input type="checkbox" id="dpp_cb" name="dpp"
               onchange="mySubmitOnChange(this);" @if(gopts.disablePop){ checked } />
        <label for="d95p_cb" class="autosubmit-lbl" title="Disable the straight dotted line(s) representing the 95%-ile value(s).
Changing this reloads the page.">Disable 95%-ile line:</label>
        <input type="checkbox" id="d95p_cb" name="d95p"
               onchange="mySubmitOnChange(this);" @if(gopts.disable95pRule){ checked } />
      </div>

      <br/>

      <input type="hidden" id="smg-filter-xagg" name="xagg" value='@if(xagg){on} else {off}' />
      @defining(if(aggOp.isEmpty && ix.isDefined && ix.get.aggOp.isDefined){ "Unapply" } else { aggOp.getOrElse("") } ){ myAggOp =>
      <input type="hidden" id="smg-filter-agg"
             name="agg"
             value='@myAggOp' />
      }

      @if(aggOp.isEmpty) {
      <div class="form-group">
        <label class="autosubmit-lbl"
               title="Apply aggregate function to the set of DISPLAYED graphs, grouping them by graphed variables">Aggregate functions:</label>
        <input class="btn btn-default btn-submit"
               title="Group all displayed graphs having same variables definitions and display a single image per group.
Each group image will have a graph line for every variable in the original graphs"
               type="button" onclick="mySubmitAgg(this);" value="GROUP">
        <input class="btn btn-default btn-submit"
               title="Group all displayed graphs having same variables definitions and display a single image per group.
Each group image will have a graph line for every variable in the original graphs and lines will be stacked on top of each other"
               type="button" onclick="mySubmitAgg(this);" value="STACK">
        <input class="btn btn-default btn-submit"
               title="Group all displayed graphs having same variables definitions and display a single image per group.
Each group image will have a single graph line for each of the variable definitions forming the group and the values will be the sum of the original graphs values"
               type="button" onclick="mySubmitAgg(this);" value="SUM">
        <input class="btn btn-default btn-submit"
               title="Group all displayed graphs having same variables definitions and display a single image per group.
Each group image will have a single graph line for each of the variable definitions forming the group and the values will be the sum of the original graphs values.
The difference from SUM is that NaN values are treated as 0.0"
               type="button" onclick="mySubmitAgg(this);" value="SUMN">
        <input class="btn btn-default btn-submit"
               title="Group all displayed graphs having same variables definitions and display a single image per group.
Each group image will have a single graph line for each of the variable definitions forming the group and the values will be the average value from the original graphs values
NaN values are ignored when averaging"
               type="button" onclick="mySubmitAgg(this);" value="AVG">
        <input class="btn btn-default btn-submit"
               title="Group all displayed graphs having same variables definitions and display a single image per group.
Each group image will have a single graph line for each of the variable definitions forming the group and the values will be the maximal value from the original graphs values
NaN values are ignored when determining max"
               type="button" onclick="mySubmitAgg(this);" value="MAX">
        <input class="btn btn-default btn-submit"
               title="Group all displayed graphs having same variables definitions and display a single image per group.
Each group image will have a single graph line for each of the variable definitions forming the group and the values will be the minimal value from the original graphs values
NaN values are ignored when determining min"
               type="button" onclick="mySubmitAgg(this);" value="MIN">

        <div class="form-group">
          <label class="autosubmit-lbl" for="smg-filter-xsort"
                 title="Sort the DISPLAYED on the page graphs to be grouped by graphed variables and then within each group -
sort by the average value with specified 1-based index.0 means default order.
Changing this reloads the page.">Sort by (var index, 0 means no sort):</label>
          <input type="number" id="smg-filter-xsort"
                 style="width: 4em"
                 step="1" name="xsort" value='@{gopts.xsort.getOrElse(0)}'
                 onchange="mySubmitXSort(this);" />
        </div>

      </div>
      } else {
      <span><strong>Aggregate function: @aggOp.get @if(xagg){(Cross-Remote)}</strong></span>
      <input type="button" class="btn btn-default btn-submit" onclick="mySubmitAgg(this);" value="Unapply">
      }
      @if(showXagg){
      <label for="cb_xagg" class="manualsubmit-lbl"
             title="Toggle whether to group aggregate objects or sort across all remote instances.
By default aggregation/sorting happens per-remote instance">Cross-Remote:</label>
      <input type="checkbox" id="cb_xagg" onclick="toggleXAgg()" @if(xagg){ checked="checked" } />
      }
      <label for="smg-fliter-gb" class="manualsubmit-lbl"
             title="Select how to group displayed objects for aggregation and sorting.
All types of groupings require the same number of variables. The different values determine
whether all variable definition properties are used or just a subset of them and also whether
object id suffix is included">Group By:</label>
      <select id="smg-fliter-gb" name="gb">
        @for(gbv <- SMGAggGroupBy.values.toSeq) {
        <option value="@gbv.toString" @if(gbv==groupBy){ selected }>@{SMGAggGroupBy.gbDesc(gbv)}</option>
        }
      </select>
      <input id="smgFilterFormPg" type="hidden" name="pg" value="@page" />
    </div>
  </div>
</form>

<!-- strip empty params from the form so that urls are less cluttered -->
<script language="JavaScript">
  function disableEmptyInputs() {
      var indexHasXAgg = @if(ix.isDefined && ix.get.xRemoteAgg) { true } else { false };
      var defaultGroupBy = @if(ix.isDefined && ix.get.aggGroupBy.isDefined) {
          "@{ix.get.aggGroupBy.get}";
          } else {
          "@{SMGAggGroupBy.defaultGroupBy}";
          }
      var defaultXsort = "@{ix.flatMap(_.flt.gopts.xsort).getOrElse(0)}";
      var defaultPeriod = "@{ix.flatMap(_.period).getOrElse(defaultPeriod)}";
      var defaultCols = "@{ix.flatMap(_.cols).getOrElse(defaultCols)}";
      var defaultRows = "@{ix.flatMap(_.rows).getOrElse(defaultRows)}";
      $(':input', this).each(function() {
          this.disabled = !($(this).val()) ||
                          ((this.name == "xagg") && (!indexHasXAgg) && ($(this).val() == "off")) ||
                          ((this.name == "gb") && ($(this).val() == defaultGroupBy)) ||
                          ((this.name == "xsort") && ($(this).val() == defaultXsort)) ||
                          ((this.name == "pg") && ($(this).val() == 0)) ||
                          ((this.name == "period") && ($(this).val() == defaultPeriod)) ||
                          ((this.name == "cols") && ($(this).val() == defaultCols)) ||
                          ((this.name == "rows") && ($(this).val() == defaultRows))
                          ;
          if (!this.disabled && this.id) {
            gl_searchHistoryManager.addHistory(this.id, this.value);
          }
      });

      //estimate URL size and use POST if url would be too long
      var mySz = 0;
      $(':input', this).each(function() {
         if(!this.disabled && (this.type != "submit")){
           var myStrVal = "" + $(this).val()
           mySz +=  myStrVal.length
         }
      });
      if (mySz > @maxUrlSize){
        //console.log("Switching form method to post due to estimated URL size above @maxUrlSize - " + mySz)
        document.getElementById("smgFilterForm").method = "POST";
      }
  };

  function mySubmitXSort(elem) {
    var fakeElem = { value: "Unapply" }
    mySubmitAgg(fakeElem)
  }

  function mySubmitOnChange(elem) {
     setTimeout(0, $('#smg-filter-submit').click());
  }

  function smgFilterGoToPage(pg) {
    var pgelem = document.getElementById("smgFilterFormPg")
    pgelem.value = pg
    mySubmitOnChange(pgelem);
  }

  function toggleXAgg() {
    var elem = document.getElementById("smg-filter-xagg")
    if (elem.value == "on") {
      elem.value = "off"
    } else {
      elem.value = "on"
    }
  }

  function mySubmitAgg(elem) {
    var indexHasAgg = @if(ix.isDefined && ix.get.aggOp.isDefined) { true } else { false };
    var hidInput = document.getElementById('smg-filter-agg')
    if (!indexHasAgg && (elem.value == 'Unapply')){
      hidInput.value = "";
    } else {
      hidInput.value = elem.value;
    }
    mySubmitOnChange(elem);
  }

  @if(ix.isDefined){
    function mergeIndexFilterAsUser(elem) {
      var myGetUserValue = function(name){
        return document.getElementById("smg-filter-" + name).value
      }
      var toMerge = {
        "remote" : "@ix.get.flt.remote.getOrElse("")",
        "trx": "@ix.get.flt.trx",
        "px": "@ix.get.flt.px",
        "sx": "@ix.get.flt.sx",
        "rx": "@ix.get.flt.rx",
        "rxx": "@ix.get.flt.rxx"
        };
      var conflicts = [];
      for(var nm in toMerge){
        var v = toMerge[nm];
        var uv = myGetUserValue(nm)
        if ((v != "") && (uv != "") && (v != uv)){
          conflicts.push(nm);
        }
      }
      if (conflicts.length > 0) {
        if (!confirm("Warning: Some user filter value(s) conflict with index filter value(s) - " +
                     conflicts.join(", ") +
                     ". Consider changing the user filter first.\n" +
                     "Are you sure you want to overwrite your user filter value(s)?"
                    )) {
          return;
        }
      }
      var mySetUserValue = function(name, v){
        document.getElementById("smg-filter-" + name).value = v
      }
      for(var nm in toMerge){
        var v = toMerge[nm];
        if (v != ""){
          mySetUserValue(nm, v);
        }
      }
      mySetUserValue("ix", "");
      mySubmitOnChange(elem);
    }
  }

  $('form#smgFilterForm').submit(disableEmptyInputs);

  smgAutocompleteSetup('smg-filter-trx',    '/json/trxtokens');
  smgAutocompleteSetup('smg-filter-px',     '/json/pxtokens');
  smgAutocompleteSetup('smg-filter-sx',     '/json/sxtokens');
  smgAutocompleteSetup('smg-filter-rx',     '/json/rxtokens');
  smgAutocompleteSetup('smg-filter-rxx',    '/json/rxtokens');
  smgAutocompleteSetup('smg-filter-period', '/json/periods');
  smgAutocompleteSetup('smg-filter-pl',     '/json/periods');
  smgAutocompleteSetup('smg-filter-step',   '');
  smgAutocompleteSetup('smg-filter-maxy',   '');
</script>




