@import com.smule.smg.SMGFilter
@import com.smule.smg.SMGRemote
@import com.smule.smg.GraphOptions

@(flt: SMGFilter, period: String, cols: Int, rows: Int,
        availRemotes: Seq[SMGRemote], aggOp: Option[String], showXagg: Boolean, xagg: Boolean,
        gopts: GraphOptions, maxUrlSize: Int, defaultPeriod: String, defaultCols: Int, defaultRows: Int)


<form id="smgFilterForm" method="GET" action="/dash" class="filter-form">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Filter: @flt.humanText</h3>
    </div>
    <div class="panel-body">

      @if(availRemotes.nonEmpty) {
      <div class="form-group form-group-rmt">
        <label class="manualsubmit-lbl"
               title="Display only objects from the specifed remote. Use * to match all remotes.">Remote filter:</label>
        <br />
        <select id="smg-filter-remote" name="remote" class="select-remote">
          @for(r <- availRemotes) {
          <option value='@r.id' @if(r.id == flt.remote.getOrElse("")){ selected } >@if(r.id == ""){Local}else{@r.id}</option>
          }
        </select>
      </div>
      }

      <div class="form-group">
        <label class="manualsubmit-lbl" for="smg-filter-trx"
               title="Display only objects which have graph object id, title, graph labels or units
matching all of the provided space separated case insensitive regular expressions">Text regex filters:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Clear filter" onclick="clearElem('smg-filter-trx');" />
        <input type="text" class="form-control"
               id="smg-filter-trx"
               name="trx" size="30" value='@flt.trx' >
      </div>

      <div class="form-group">
        <label class="manualsubmit-lbl" for="smg-filter-px"
               title="Display only objects which have ids having the specified prefix (NOT regex)">Prefix filter:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Clear filter" onclick="clearElem('smg-filter-px');" />
        <input type="text" class="form-control"
               id="smg-filter-px"
               name="px" value='@flt.px' >
      </div>
      <div class="form-group">
        <label class="manualsubmit-lbl" for="smg-filter-sx"
               title="Display only objects which have ids having the specified suffix (NOT regex)">Suffix filter:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Clear filter" onclick="clearElem('smg-filter-sx');" />
        <input type="text" class="form-control"
               id="smg-filter-sx"
               name="sx" value='@flt.sx' >
      </div>
      <div class="form-group">
        <label class="manualsubmit-lbl" for="smg-filter-rx"
               title="Display only objects which have ids matching the specified case insensitive regular expression">Regex filter:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Clear filter" onclick="clearElem('smg-filter-rx');" />
        <input type="text" class="form-control"
               id="smg-filter-rx"
               name="rx" value='@flt.rx' >
      </div>
      <div class="form-group">
        <label class="manualsubmit-lbl" for="smg-filter-rxx"
               title="Filter out objects which have ids matching the specified case insensitive regular expression">Regex exclude filter:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Clear filter" onclick="clearElem('smg-filter-rxx');" />
        <input type="text" class="form-control"
               id="smg-filter-rxx"
               name="rxx" value='@flt.rxx' >
      </div>

      <div class="form-group">
        <label class="manualsubmit-lbl"
            title="Reload the page using updated filters.">Apply filters</label>
        <input title="Reload the page using updated filters" id="btn_GET"
               class="form-control btn-submit-manual" type="submit" value="Apply">
      </div>

      <!-- separator -->

      <div class="form-group" style="width: 5px;">
        &nbsp;
      </div>


      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-period"
               title="Period (time since) to cover in the graphs.
Changing this reloads the page.">Period since:</label>
        <input class="form-control" type="text"
               id="smg-filter-period"
               size="9" name="period" value="@period"
               onchange="mySubmitOnChange(this);">
      </div>

      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-pl"
               title="Optional period range (length) to cover in the graphs. Default is the entire range until current time.
Changing this reloads the page.">Period len:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Remove option" onclick="clearElem('smg-filter-pl');" />
        <input class="form-control" type="text"
               id="smg-filter-pl"
               size="9" name="pl" value="@gopts.pl"
               onchange="mySubmitOnChange(this);">
      </div>

      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-step"
               title="Requested graphs step (resolution). Specified in seconds (as number), minutes (e.g. 5m) or hours (e.g. 5h).
Changing this reloads the page.">Step:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Remove option" onclick="clearElem('smg-filter-step');" />
        <input class="form-control" type="text" id="smg-filter-step"
               size="9" name="step" value="@gopts.step" onchange="mySubmitOnChange(this);">
      </div>

      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-maxy"
               title="Requested graphs Y scale (max).
Changing this reloads the page.">MaxY:</label>
        <img src='@routes.Assets.versioned("images/delete.png")' class="clear-button" title="Remove option" onclick="clearElem('smg-filter-maxy');" />
        <input class="form-control" type="text" id="smg-filter-maxy"
               size="12" name="maxy" value="@gopts.maxY" onchange="mySubmitOnChange(this);">
      </div>

      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-cols"
               title="How many graphs per row to display on the page.
Changing this reloads the page.">Columns:</label>
        <input class="form-control colsInput" type="number" id="smg-filter-cols"
               step="1" name="cols" value='@cols'
               onchange="mySubmitOnChange(this);" />
      </div>
      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-rows"
               title="Max rows of graphs to display on the page.
Changing this reloads the page.">Rows:</label>
        <input class="form-control rowsInput" type="number" id="smg-filter-rows"
               step="1" name="rows" value='@rows'
               onchange="mySubmitOnChange(this);" />
      </div>

      <div class="form-group">
        <label class="autosubmit-lbl" for="smg-filter-xsort"
            title="Sort the DISPLAYED on the page graphs to be grouped by graphed variables and then within each group -
sort by the average value with specified 1-based index.0 means default order.
Changing this reloads the page.">X-Sort:</label>
        <input class="form-control" type="number" id="smg-filter-xsort"
               style="width: 4em"
               step="1" name="xsort" value='@{gopts.xsort.getOrElse(0)}'
               onchange="mySubmitOnChange(this);" />
      </div>

      <div class="form-group form-group-cbs">
        <label for="dpp_cb" class="autosubmit-lbl" title="Disable the dotted line(s) representing the previous period value(s).
Changing this reloads the page.">Disable Period-Over-Period:</label>
        <input type="checkbox" id="dpp_cb" name="dpp"
               onchange="mySubmitOnChange(this);" @if(gopts.disablePop){ checked } />
        <label for="d95p_cb" class="autosubmit-lbl" title="Disable the straight dotted line(s) representing the 95%-ile value(s).
Changing this reloads the page.">Disable 95%-ile line:</label>
        <input type="checkbox" id="d95p_cb" name="d95p"
               onchange="mySubmitOnChange(this);" @if(gopts.disable95pRule){ checked } />
      </div>

      <br/>

      @if(aggOp.isEmpty) {
      <div class="form-group">
        <label class="autosubmit-lbl"
               title="Apply aggregate function to the set of DISPLAYED graphs, grouping them by graphed variables">Aggregate functions:</label>
        <input class="btn btn-default btn-submit" type="submit" name="agg" value="GROUP">
        <input class="btn btn-default btn-submit" type="submit" name="agg" value="STACK">
        <input class="btn btn-default btn-submit" type="submit" name="agg" value="SUM">
        <input class="btn btn-default btn-submit" type="submit" name="agg" value="SUMN">
        <input class="btn btn-default btn-submit" type="submit" name="agg" value="AVG">
        @if(showXagg){
        <label for="xagg_cb" class="manualsubmit-lbl"
            title="Toggle whether to group aggregate objects across all remote instances.
By default aggregation happens per-remote instance">Cross-Remote:</label>
            <input type="checkbox" id="xagg_cb" name="xagg" @if(xagg){ checked } />
        }
      </div>
      } else {
      @if(xagg) {
      <input type="hidden" name="xagg" value="on" />
      }
      }
      <input id="smgFilterFormPg" type="hidden" name="pg" value="0" />
    </div>
  </div>
</form>

<input type="hidden" id="inp_aggOp" name="aggOp" value='@aggOp.getOrElse("")' />

<!-- strip empty params from the form so that urls are less cluttered -->
<script language="JavaScript">
  function disableEmptyInputs() {
      $(':input', this).each(function() {
          this.disabled = !($(this).val()) ||
                          ((this.name == "xsort") && ($(this).val() == 0)) ||
                          ((this.name == "pg") && ($(this).val() == 0)) ||
                          ((this.name == "period") && ($(this).val() == "@defaultPeriod")) ||
                          ((this.name == "cols") && ($(this).val() == "@defaultCols")) ||
                          ((this.name == "rows") && ($(this).val() == "@defaultRows"))
                          ;
          if (!this.disabled && this.id) {
            gl_searchHistoryManager.addHistory(this.id, this.value);
          }
      });

      //estimate URL size and use POST if url would be too long
      var mySz = 0;
      $(':input', this).each(function() {
         if(!this.disabled && (this.type != "submit")){
           var myStrVal = "" + $(this).val()
           mySz +=  myStrVal.length
         }
      });
      if (mySz > @maxUrlSize){
        //console.log("Switching form method to post due to estimated URL size above @maxUrlSize - " + mySz)
        document.getElementById("smgFilterForm").method = "POST";
      }
  };

  function mySubmitOnChange(elem) {
      disableEmptyInputs();
      var jsAggOp = $('#inp_aggOp')[0].value;
      if (jsAggOp) {
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "agg");
        input.setAttribute("value", jsAggOp);
        document.getElementById("smgFilterForm").appendChild(input);
      }
      setTimeout(0, $('#btn_GET').click());
  }

  function smgFilterGoToPage(pg) {
    var pgelem = document.getElementById("smgFilterFormPg")
    pgelem.value = pg
    mySubmitOnChange(pgelem);
  }

  $('form#smgFilterForm').submit(disableEmptyInputs);

  smgAutocompleteSetup('smg-filter-trx',    '/json/trxtokens');
  smgAutocompleteSetup('smg-filter-px',     '/json/pxtokens');
  smgAutocompleteSetup('smg-filter-sx',     '/json/sxtokens');
  smgAutocompleteSetup('smg-filter-rx',     '/json/rxtokens');
  smgAutocompleteSetup('smg-filter-rxx',    '/json/rxtokens');
  smgAutocompleteSetup('smg-filter-period', '/json/periods');
  smgAutocompleteSetup('smg-filter-pl',     '/json/periods');
  smgAutocompleteSetup('smg-filter-step',   '');
  smgAutocompleteSetup('smg-filter-maxy',   '');
</script>




