@import com.smule.smg.core.SMGIndex
@import com.smule.smg.remote.SMGRemote
@import com.smule.smg.config.SMGConfigService

@(selectedRemotes: Seq[String], availRemotes:Seq[String], lvls: Int, defaultLevels: Int,
 remotesData: Seq[(SMGRemote, Seq[SMGIndex])], periods: Seq[String], cfSvc: SMGConfigService)(implicit flash: Flash)

@main("SMG - Index", cfSvc, cfSvc.config.autoRefreshInterval) {

<div>
  <form id="indexFilterForm" method="GET">
    @if(availRemotes.nonEmpty){
    <label class="autosubmit-lbl">Remote filter:</label>
    @remoteSelect(selectedRemotes, availRemotes, "mySubmitOnChange(this);")
    }
    <label class="autosubmit-lbl">Levels:</label>
    <input type="number" name="lvls" value="@lvls" min="1" max="5" onchange="mySubmitOnChange(this);" >
    <input style="display: none" id="btn_GET" type="submit" value="Filter">
  </form>
</div>

<!-- strip empty params from the form so that urls are less cluttered -->
<script language="JavaScript">
  function disableEmptyInputs() {
      $(':input', this).each(function() {
         // !($(this).val()) ||
         this.disabled = ((this.name == "lvls") && ($(this).val() == @defaultLevels)) ||
         ((this.name == "remote") && ($(this).val() == "@{SMGRemote.wildcard.id}"));
      });
  };

  function mySubmitOnChange(elem) {
      disableEmptyInputs();
      setTimeout(0, $('#btn_GET').click());
  }

  $('form#indexFilterForm').submit(disableEmptyInputs);
</script>

  @for( rt <- remotesData) {
    @remoteDisplay(rt._1)
    <ul>
    @for( ix <- rt._2) {
      <li>
        @indexItem(ix, periods, lvls - 1)
      </li>
    }
    </ul>
    <hr/>
  }
  @if(cfSvc.plugins.nonEmpty){
  <h3>Enabled plugins</h3>
  <ul>
      @for(p <- cfSvc.plugins) {
      <li><a href="/plugin/@{p.pluginId}">@{p.pluginId}</a></li>
      }
  </ul>
  }
}
