@import com.smule.smg.SMGIndex

@(ix: SMGIndex, periods:Seq[String], levels: Int)

<div>
  <a name="ix_@ix.id"></a>
  <a href="/dash?@{ix.asUrl}"><strong>@ix.title</strong></a>
  @if(ix.rows.isEmpty || ix.rows.get > 0) {
  @for( p <- periods) {
  <a href="/dash?@{ix.asUrlForPeriod(p)}">(@p)</a>
  }
  }
  @if(ix.desc.isDefined) {
  (@ix.desc.get)
  }
  [<a href="#ix_@{ix.id}">#</a>]

  @monStateIndexDetails(ix.id)
</div>

@if(levels > 0){

<div>
  <ul>
    @for( cix <- ix.children) {
    <li>
      @views.html.indexItem(cix, periods, levels - 1)
    </li>
    }
  </ul>
</div>

}


