@import com.smule.smg.SMGObjectView
@import com.smule.smg.SMGMonObjAlertConf
@import com.smule.smg.SMGMonNotifyConf
@import com.smule.smg.SMGMonObjNotifyConf
@import com.smule.smg.SMGMonNotifyCmd
@import com.smule.smg.SMGMonNotifySeverity
@import com.smule.smg.SMGPreFetchCmd
@(ov:SMGObjectView, pfs: List[(SMGPreFetchCmd, String)], acs: Option[SMGMonObjAlertConf], ncUnk: Option[SMGMonNotifyConf], nc: Option[SMGMonObjNotifyConf],
  ncmds: Seq[(SMGMonNotifySeverity.Value, Seq[SMGMonNotifyCmd], Int)], nstrikes: Seq[Int], hstate: Option[String])

<h3>Object View</h3>
<p>@ov</p>

<h3>Ref Object Update</h3>

@if(pfs.isEmpty) {
<h4>No pre_fetch commands defined</h4>
} else {
<h4>pre_fetch commands</h4>
<ul>
  @for(pf <- pfs){
  <li>
    <p>@{pf._1}</p>
    <p>State: @{pf._2}</p>
  </li>
  }
</ul>
}

<h4>Object</h4>

<p>@if(ov.refObj.isDefined){
<ul><li>@ov.refObj.get</li></ul>
  } else {
    No ref object defined
  }</p>

<h3>Alert Confs</h3>
<p>
@if(acs.isEmpty){
  No alert confs defined
} else {
  @acs.get
}
</p>

<h3>Object Notify Confs</h3>
<p>
  @if(ncUnk.isEmpty){
  No notification conf for object UNKNOWN state
  } else {
  @ncUnk.get
  }
</p>
<p>
  @if(nc.isEmpty){
  No notification conf for object vars
  } else {
  @nc.get
  }
</p>
<p>
  Notify commands:<br/>
  @for((v, cs, backoff) <- ncmds){
    @if(cs.nonEmpty){
     @v: @{cs.mkString(", ")} (backoff=@backoff)<br/>
    }
  }
</p>

<h3>Notify Strikes</h3>
<p>
  OBJ: @{nstrikes.head}<br/>
  @for((ns,i) <- nstrikes.tail.zipWithIndex){
  VIX[@i]: @ns<br/>
  }
</p>


<h3>Health State</h3>
<div>
  @if(hstate.isEmpty){
    No health state available
  } else {
    @for(ln <- hstate.get.split("\n")){
    <p>@ln</p>
    }
  }
</div>
