@import com.smule.smg.config.SMGConfigService
@import com.smule.smg.core.SMGObjectView
@import com.smule.smg.monitor.SMGMonAlertConfObj
@import com.smule.smg.monitor.SMGMonNotifyConf
@import com.smule.smg.monitor.SMGMonNotifyConfObj
@import com.smule.smg.monitor.SMGMonNotifyCmd
@import com.smule.smg.monitor.SMGMonNotifySeverity
@import com.smule.smg.core.SMGPreFetchCmd
@(cfSvc: SMGConfigService, ov:SMGObjectView, pfs: List[(SMGPreFetchCmd, String)], acs: Option[SMGMonAlertConfObj],
  ncUnk: Option[SMGMonNotifyConf], nc: Option[SMGMonNotifyConfObj],
  ncmdsByVar: List[(Int, Seq[(SMGMonNotifySeverity.Value, Seq[SMGMonNotifyCmd], Int)])],
  nstrikes: Seq[Int], hstate: Option[String])

<h3>Object View</h3>
<p>@ov</p>

<h3>Ref Object Update</h3>

@if(pfs.isEmpty) {
<h4>No pre_fetch commands defined</h4>
} else {
<h4>pre_fetch commands</h4>
<ul>
  @for(pf <- pfs){
  <li>
    <p>@{pf._1}</p>
    <p>State: @{pf._2}</p>
  </li>
  }
</ul>
}

<h4>Object</h4>

<p>@if(ov.refObj.isDefined){
  <ul>
    <li><p><b>refObj.toString:</b> @ov.refObj.get</p></li>
    <li><p><b>refObj.inspect:</b> @ov.refObj.get.inspect(cfSvc)</p></li>
  </ul>
  } else {
    No ref object defined
  }</p>

<h3>Alert Confs (SMGMonObjAlertConf)</h3>
<p>
@if(acs.isEmpty){
  No alert confs defined
} else {
  @for(vix <- acs.get.varConfs.keys.toSeq.sorted){
    <h4>vix: @{vix}</h4>
    <ul>
      @for(vc <- acs.get.varConfs(vix)){
        <li>@{vc.inspect}</li>
      }
    </ul>
  }
}
</p>

<h3>Object Notify Conf</h3>
<p>
  @if(ncUnk.isEmpty){
  No notification conf for object FAILED state
  } else {
  @ncUnk.get
  }
</p>

<h3>Object Vars Notify Conf (SMGMonObjNotifyConf)</h3>
<p>
  @if(nc.isEmpty){
    No notification conf for object vars
  } else {
    @for(vix <- nc.get.varConfs.keys.toSeq.sorted){
      <h4>vix: @{vix}</h4>
      <ul>
        @for(vc <- nc.get.varConfs(vix)){
        <li>@{vc.inspect}</li>
        }
      </ul>
    }
  }
</p>
<p>
  Notify commands:<br/>
  <ul>
  @for(t <- ncmdsByVar) {
    <h4>vix: @{t._1}</h4>
    <p>
    @for((v, cs, backoff) <- t._2){
      @v: @{cs.mkString(", ")} (backoff=@backoff)<br/>
    }
    </p>
  }
  </ul>
</p>

<h3>Notify Strikes</h3>
<p>
  OBJ: @{nstrikes.head}<br/>
  @for((ns,i) <- nstrikes.tail.zipWithIndex){
  VIX[@i]: @ns<br/>
  }
</p>


<h3>Health State</h3>
<div>
  @if(hstate.isEmpty){
    No health state available
  } else {
    @for(ln <- hstate.get.split("\n")){
    <p>@ln</p>
    }
  }
</div>
