@import com.smule.smg.config.SMGConfigService
@(cfSvc: SMGConfigService, redirectUrl: String)(implicit flash: Flash)
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SMG Logon</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
@if(flash.get("success").isDefined){
<div align="center"><font color="green"><strong>@{flash.get("success").get}</strong></font></div>
}
@if(flash.get("error").isDefined){
<div align="center"><font color="red"><strong>@{flash.get("error").get}</strong></font></div>
}
@if(cfSvc.config.usersConfig.passwordUsers.isEmpty) {
<div align="center"><font color="red"><strong>Warning: no password users are defined in conf,
  please define users for this to work</strong></font></div>
}

<hr/>

<div align="center">
<form method="post" action="/login">
  <input type="hidden" name="redirect_url" value="@redirectUrl">
  <p>
    <label for="login-handle">Username: </label><input id="login-handle" type="text" size="40" name="handle" />
  </p>
  <p>
    <label for="login-password">Password: </label><input id="login-password" type="password" size="40" name="password" />
  </p>
  <input type="submit" value="Login">
</form>
</div>

<hr/>

<div align="center">
  <a href="/">Or try to continue as anonymous</a>
</div>

</body>
</html>
