@import com.smule.smg.rrd.SMGRrd
@(defaultAutoRefreshEnabled: Boolean, autoRefreshInterval: Int)

<script type="text/javascript">
  var gl_smgAutoRefreshTimer = null;

  function smgStartAutoRefresh(intervalSecs){
    if (intervalSecs <= 0) return;
    if (gl_smgAutoRefreshTimer != null) return;
    gl_smgAutoRefreshTimer = setTimeout(function() {
      location.reload();
    }, intervalSecs * 1000);
  }

  function smgStopAutoRefresh() {
    if (gl_smgAutoRefreshTimer == null) return;
    clearTimeout(gl_smgAutoRefreshTimer);
    gl_smgAutoRefreshTimer = null;
  }

  function smgIsAutoRefreshing() {
    return gl_smgAutoRefreshTimer != null;
  }
</script>


@if(autoRefreshInterval > 0){
@if(defaultAutoRefreshEnabled){
<a href="#" title="Auto refresh is running with @SMGRrd.intervalToStr(autoRefreshInterval) interval - click to pause"
   id="smgAutoRefreshToggleElem" onclick="smgAutoRefreshToggleClick()"><b>Auto refresh (interval - @SMGRrd.intervalToStr(autoRefreshInterval))</b></a>
} else {
<a href="#auto-refresh" title="Auto refresh is not started by default - click to start with @SMGRrd.intervalToStr(autoRefreshInterval) interval"
   id="smgAutoRefreshToggleElem" onclick="smgAutoRefreshToggleClick()"><b>Auto refresh (not started)</b></a>
}
<script language="JavaScript">
  var jsDefaultAutoRefreshEnabled = @defaultAutoRefreshEnabled;

  function smgMyStartAutoRefresh(){
      var aElem = document.getElementById("smgAutoRefreshToggleElem")
      smgStartAutoRefresh(@autoRefreshInterval);
      aElem.innerHTML = "<b>Auto refresh (interval - @SMGRrd.intervalToStr(autoRefreshInterval))</b>"
      aElem.title = "Auto refresh is running with @SMGRrd.intervalToStr(autoRefreshInterval) interval - click to pause"
  }

  function smgMyStopAutoRefresh(){
      var aElem = document.getElementById("smgAutoRefreshToggleElem")
      smgStopAutoRefresh();
      aElem.innerHTML = "<b>Auto refresh (stopped)</b>"
      aElem.title = "Auto refresh is stopped - click to resume with @SMGRrd.intervalToStr(autoRefreshInterval) interval"
  }

  function smgAutoRefreshToggleClick(){
    if (smgIsAutoRefreshing()){
      smgMyStopAutoRefresh()
    } else {
      smgMyStartAutoRefresh()
    }
  }

  if (jsDefaultAutoRefreshEnabled || (location.hash == "#auto-refresh")){
    smgMyStartAutoRefresh();
  }
</script>
} else {
  <a href="#" class="disabled">Auto refresh (disabled)</a>
}
