@import com.smule.smg.config.SMGConfigService
@import com.smule.smg.plugin.SMGPlugin
@(title: String, cfSvc: SMGConfigService, autoRefreshInterval: Int, cleanContent: Boolean = false, requestPath: Option[String] = None)(content: Html)(implicit flash: Flash)
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("components/bootstrap/dist/css/bootstrap.min.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("components/jquery-ui/themes/base/jquery-ui.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("components/select2/css/select2.min.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/cdash.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/smodal.css")'>
    <script src='@routes.Assets.versioned("components/jquery/dist/jquery.min.js ")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("components/jquery-ui/jquery-ui.min.js ")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("components/bootstrap/dist/js/bootstrap.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("components/select2/js/select2.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/displaySelect.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/filter.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/svgData.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/smodal.js")' type="text/javascript"></script>
  </head>
  <body>
    @mainMenu(cfSvc, requestPath, autoRefreshInterval)

    @if(flash.get("success").isDefined){
    <div align="center"><font color="green"><strong>@{flash.get("success").get}</strong></font></div>
    }
    @if(flash.get("error").isDefined){
    <div align="center"><font color="red"><strong>@{flash.get("error").get}</strong></font></div>
    }

    @if(cleanContent){
@content
    } else {
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">@content</div>
        </div>
    </div>
    }
    <hr/>
    <p align="center"><small>&lt;&lt;&lt; <i>SMG Version @cfSvc.smgVersionStr (end of page)</i> &gt;&gt;&gt;</small></p>
  </body>
</html>
