@import com.smule.smg.config.SMGConfigService
@import com.smule.smg.auth.User
@(cfSvc: SMGConfigService, user: User)
<span style="padding: 9px 13px; display: block; position: relative;">
  User: @{user.humanName} (@{user.role})
  @if(user.supportsLogout){
   <br/>
   ( <a href="@{cfSvc.config.usersConfig.logoutUrl}">Logout</a> )
  } else {
    @if(user.supportsLogin){
    <br/>
    ( <a href="@{cfSvc.config.usersConfig.loginUrl}" title="Login as different user">Login as another user</a> )
    }
  }
</span>
