
@(cur: String)

<div>
  <h6>|
    @if(cur != "issues"){
    <a href="/monitor">Current status</a>  |
    } else {
    Current status |
    }
    @if(cur != "trees"){
    <a href="/monitor/trees">State trees</a> |
    }else {
    State trees |
    }
    @if(cur != "log"){
    <a href="/monitor/log">Logs</a> |
    }else {
    Logs |
    }
    @if(cur != "heatmap"){
    <a href="/monitor/heatmap">Heatmap</a> |
    }else {
    Heatmap |
    }
    @if(cur != "runtrees"){
    <a href="/monitor/runtree">Run trees</a> |
    }else {
    Run trees |
    }
  </h6>
</div>
