
@(cur: String)

<div>
  <h6>|
    @if(cur != "problems"){
    <a href="/monitor">Overview</a>  |
    } else {
    Overview |
    }
    @if(cur != "silenced"){
    <a href="/monitor/silenced">Silenced states</a>  |
    } else {
    Silenced states |
    }
    @if(cur != "trees"){
    <a href="/monitor/trees">Browse states</a> |
    }else {
    Browse states |
    }
    @if(cur != "log"){
    <a href="/monitor/log">Event log</a> |
    }else {
    Event log |
    }
    @if(cur != "heatmap"){
    <a href="/monitor/heatmap">Heatmap</a> |
    }else {
    Heatmap |
    }
    @if(cur != "runtrees"){
    <a href="/monitor/runtree">Run trees</a> |
    }else {
    Run trees |
    }
  </h6>
</div>
