@import com.smule.smg.SMGPlugin
@import com.smule.smg.SMGRemote
@import com.smule.smg.SMGMonitorLogMsg

@(plugins: Seq[SMGPlugin], availRemotes:Seq[String], rmtId: Option[String], availStates:Seq[String], minSeverity: Option[String], period:String, defPeriod:String, limit:Int, defLimit:Int, inclSoft: Boolean, inclAckd: Boolean, inclSlncd: Boolean, logMsgs: Seq[SMGMonitorLogMsg])

@main("SMG - Monitor event log", plugins) {

@monitorMenu("log")

<h3>Event log</h3>

<div>
<form id="monLogFilterForm" method="GET" action="/monitor/log" class="filter-form">
  @if(availRemotes.nonEmpty){
  <label class="autosubmit-lbl">Remote filter:</label>
  <select name="remote" class="select-remote" onchange="mySubmitOnChange(this);" >
    @for( rid <- availRemotes) {
    <option value='@rid' @if(rid == rmtId.getOrElse("*")){ selected } >@if(rid == ""){Local}else{@rid}</option>
    }
  </select>
  }
  <label class="autosubmit-lbl">Minimal Severity filter:</label>
  <select name="ms" onchange="mySubmitOnChange(this);" >
    @for( sid <- availStates) {
    <option value='@sid' @if(sid == minSeverity.getOrElse("OK")){ selected } >@sid</option>
    }
  </select>
  <label class="autosubmit-lbl">Limit since</label>
  <input type="text" name="p" value="@period" onchange="mySubmitOnChange(this)" />

  <label class="autosubmit-lbl">Limit number</label>
  <input type="number" name="l" value="@limit" min="1" max="100000" onchange="mySubmitOnChange(this);" />

  <label class="autosubmit-lbl" for="cbSoft">Display soft errors</label>
    <input id="cbSoft" type="checkbox" name="soft" onchange="mySubmitOnChange(this);" @if(inclSoft){ checked } />

  <label class="autosubmit-lbl" for="cbAckd">Display acknowledged errors</label>
    <input id="cbAckd" type="checkbox" name="ackd" onchange="mySubmitOnChange(this);" @if(inclAckd){ checked } />

  <label class="autosubmit-lbl" for="cbSlncd">Display silenced errors</label>
    <input id="cbSlncd" type="checkbox" name="slncd" onchange="mySubmitOnChange(this);" @if(inclSlncd){ checked } />

  <input style="display: none" id="btn_GET" type="submit">
  <input type="button" value="Refresh" onclick="mySubmitOnChange(this);">

</form>

  <!-- strip empty params from the form so that urls are less cluttered -->
<script language="JavaScript">
  function disableEmptyInputs() {
      $(':input', this).each(function() {
         this.disabled = ((this.name != "remote") && !($(this).val())) ||
           ((this.name == "remote") && ($(this).val() == "*")) ||
           ((this.name == "ms") && ($(this).val() == "E_VAL_WARN")) ||
           ((this.name == "p") && ($(this).val() == "@defPeriod")) ||
           ((this.name == "l") && ($(this).val() == "@defLimit"))
           ;
      });
  };

  function mySubmitOnChange(elem) {
      disableEmptyInputs();
      setTimeout(0, $('#btn_GET').click());
  }

  $('form#monLogFilterForm').submit(disableEmptyInputs);
</script>

</div>

<hr/>

<ul class="monlog">
@for((hrts, mls) <- logMsgs.groupBy(_.hourTs).toSeq.sortBy(t => -t._1)) {
  <li><b>----[@{mls.head.tsFmt(mls.head.hourTs)}]----</b></li>
  @for(ms <- mls) {
  <li>
    [@{ if(ms.remote.id == "") "local" else ms.remote.id }]
    [@{ms.tsFmt}]: <span class="ml-type-@{ms.mltype}">@{ms.mltype}</span>
    @if(ms.ouids.nonEmpty) {
      <a href="/dash?@{ms.objectsFilterWithRemote}">@{ms.ouids.mkString(",")}</a> [@if(ms.vix.isDefined){@{ms.vix.get}} else {-}]
    } else { - [-] }
    (n=@{ms.repeat}, @if(ms.isHard){ <strong>HARD</strong> } else { SOFT })
    <span class="ml-msg">@{ms.msg}</span>
  </li>
  }
}
</ul>

<p><i>Displaying @{logMsgs.size} messages (limit: @limit)</i></p>

}
