@import com.smule.smg.SMGRemote
@import com.smule.smg.SMGMonState
@import com.smule.smg.SMGState

@(ix: Int, r: SMGRemote, ms: SMGMonState, oid: String, jsFnSx: String )

@if(!ms.isOk){
  @if(ms.isAcked) {
  [ Acknowledged ] <button onclick='myUnack@{jsFnSx}("@{oid}")'>Unacknowledge</button>
  } else {
  <button onclick='myAck@{jsFnSx}("@{oid}")'>Acknowledge</button>
  }
}

@if(ms.isSilenced) {
  [ Silenced @ms.silencedUntilStr ] <button onclick='myUnsilence@{jsFnSx}("@{oid}")'>Unsilence</button>
}

@if(!ms.isOk){

  <button onclick='mySilence@{jsFnSx}("@{oid}", "slncFor_@{r.id}_@ix")'
          title="Silence this object's issues for the provided period">Silence for</button>
  <input type="text" id="slncFor_@{r.id}_@ix" size="6" value="2h" />

  @if(!ms.isSilenced || ms.silencedUntil.isDefined) {
  <!--
  <button onclick='mySilence@{jsFnSx}("@{oid}", null)' title="Silence this object's issues premanently">Silence permanently</button>
  -->
  }
}
