@import com.smule.smg.SMGConfigService
@import com.smule.smg.SMGRemote
@import com.smule.smg.SMGMonState
@import com.smule.smg.SMGState
@import com.smule.smg.SMGMonFilter
@import com.smule.smg.SMGMonStickySilence

@(cfSvc: SMGConfigService, monitorStates: Seq[(SMGRemote, Seq[SMGMonState])],
  stickySilences: Seq[(SMGRemote, Seq[SMGMonStickySilence])], curUrl: String)(implicit flash: Flash)

@main("SMG - Monitor silenced states", cfSvc, 60) {

@monitorMenu("silenced")

@if(stickySilences.nonEmpty) {
<h3>Sticky silences</h3>
  @for((r, sss) <- stickySilences) {
    @remoteDisplay(r)
    <ul>
      @for(ss <- sss) {
      <li>
        <h5>@ss.desc.getOrElse("(no description)") [ @ss.humanDesc ]
        <form method="post" style="display: inline-block">
          <input type="hidden" name="uid" value="@ss.uuid">
          <input type="hidden" name="curl" value="@Html(curUrl)">
          <input type="submit" value="Remove">
        </form>
        </h5>
      </li>
      }
    </ul>
  }
}

<h3>All silenced states</h3>


<hr/>
@for((r, mss) <- monitorStates) {
@remoteDisplay(r)

<div>
  @if(mss.isEmpty) {
  <span style="color: green">No silenced states</span>
  } else {
  <ul>
    @for((ms,ix) <- mss.zipWithIndex) {
    <li>
      <span style="background-color: @ms.severityColor;">@{ms.currentStateVal}</span> <a href="@ms.showUrl">@ms.text</a>
      [ @if(ms.isHard){ <strong>HARD</strong> } else { SOFT } ] <br/>
      @monStateActions(ms, Some(curUrl))
      <hr/>
    </li>
    }
  </ul>
  }
</div>
}
}
