
@(cur: String)

<div>
  <h6>|
    @if(cur != "problems"){
    <a href="/monitor">Problems</a>  |
    } else {
    Problems |
    }
    @if(cur != "log"){
    <a href="/monitor/log">Event log</a> |
    }else {
    Event log |
    }
    @if(cur != "trees"){
    <a href="/monitor/trees">State trees</a> |
    }else {
    State trees |
    }
    @if(cur != "silenced"){
    <a href="/monitor/silenced">Silenced states</a>  |
    } else {
    Silenced states |
    }
    @if(cur != "runtrees"){
    <a href="/monitor/runtree">Run trees</a> |
    }else {
    Run trees |
    }
    @if(cur != "alertconds"){
    <a href="/monitor/alertconds">Alert conditions</a> |
    }else {
    Alert conditions |
    }
    @if(cur != "notifycmds"){
    <a href="/monitor/notifycmds">Notification commands</a> |
    }else {
    Notification commands |
    }
    @if(cur != "heatmap"){
    <a href="/monitor/heatmap">Heatmap</a> |
    }else {
    Heatmap |
    }
  </h6>
</div>
