@import com.smule.smg.core.SMGTree
@import com.smule.smg.monitor.SMGMonState
@(ms: SMGMonState, isRoot: Boolean, hasChildren: Boolean, curUrl: String, isAdmin: Boolean)

<p>
<div>
  @if(isRoot){
      <strong>@ms.id</strong>
  } else {
      <a href="?rid=@ms.id" onclick="goToRoot('@ms.id'); return false">@ms.id</a>
  }

  [ <a href="@ms.showUrl">Graphs</a> ]

  @monStateActions(ms, Some(curUrl), isAdmin)
</div>

<div>
  <span style="background-color: @ms.severityColor;">@{ms.currentStateVal}</span> @ms.text [ @if(ms.isHard){ <strong>HARD</strong> } else { SOFT } ]
</div>
@if(hasChildren){ [...] }
<hr/>
</p>

