@import com.smule.smg.config.SMGConfigService
@import com.smule.smg.monitor.SMGMonState
@import com.smule.smg.monitor.SMGMonFilter
@import com.smule.smg.core.SMGTree
@import com.smule.smg.monitor.SMGState
@import com.smule.smg.remote.SMGRemote
@(cfSvc: SMGConfigService, rmtIds: Seq[String], availRemotes: Seq[String], flt: SMGMonFilter,
  rootId: Option[String], trees: Seq[SMGTree[SMGMonState]], total: Int,
  limit: Int, defLimit: Int, curUrl: String)(implicit flash: Flash)

@main("SMG - Monitor State trees", cfSvc, 300) {

@monitorMenu("trees")

<h3>State trees</h3>

<div>
  <form id="runTreeFilterForm" method="GET">
    <label class="autosubmit-lbl">Limit:</label>
    <input type="number" id="limit" name="lmt" value="@{limit}" min="2" max="9999999" onchange="mySubmitOnChange(this);">
    <label class="autosubmit-lbl">Minimal severity filter:</label>
    <select id="inpMs" name="ms" onchange="mySubmitOnChange(this);" >
      @for( sid <- SMGState.values.toList.map(_.toString)) {
      <option value='@sid' @if(sid == flt.minState.getOrElse(SMGState.OK).toString){ selected } >@sid</option>
      }
    </select>
    <label class="autosubmit-lbl" for="cbSoft">Hide Soft errors</label>
      <input id="cbSoft" type="checkbox" name="hsoft" @if(!flt.includeSoft){ checked } onchange="mySubmitOnChange(this);" />
    <label class="autosubmit-lbl" for="cbAcked">Hide Acknowledged errors</label>
      <input id="cbAcked" type="checkbox" name="hackd" @if(!flt.includeAcked){ checked } onchange="mySubmitOnChange(this);" />
    <label class="autosubmit-lbl" for="cbSlncd">Hide Silenced objects</label>
      <input id="cbSlncd" type="checkbox" name="hslncd" @if(!flt.includeSilenced){ checked } onchange="mySubmitOnChange(this);" />
    <br/>
    @if(availRemotes.nonEmpty){
    <label class="manualsubmit-lbl">Remote filter:</label>
    @remoteSelect(rmtIds, availRemotes, "")
    }
    <label class="manualsubmit-lbl">Regex filter:</label>
    <input type="text" id="inpRx" name="rx" value="@{flt.rx.getOrElse("")}">
    <label class="manualsubmit-lbl">Top-level regex exclude filter:</label>
    <input type="text" id="inpRxx" name="rxx" value="@{flt.rxx.getOrElse("")}">
    <input type="hidden" id="treeRoot" name="rid" value="@{rootId.getOrElse("")}">
    <input type="hidden" id="frmInpSilenceAllUntil" name="silenceAllUntil" value="">
    <input type="hidden" id="frmInpStickySilence" name="sticky" value="">
    <input type="hidden" id="frmInpStickySilenceDesc" name="stickyDesc" value="">
    <input type="hidden" id="inpCurl" name="curl" value="">
    <input style="display: none" id="btn_GET" type="submit">
    <input type="button" value="Refresh" onclick="mySubmitOnChange(this);">
  </form>
</div>

<hr/>

<div><h4>Displaying @{trees.size} out of @total matching state trees.
  @if(trees.size < total){
  Use "Limit" to increase the number of visible items or filtering to reduce matching items.
  }
</h4></div>


<div>
  <input type="button" onclick="silenceAllMatching();" value="Silence ALL matching objects for" />
  <input type="text" size="10" id="inpSilenceAllUntil" value="2h" />
  @if(rootId.isEmpty &&
     (flt.minState.getOrElse(SMGState.OK) == SMGState.OK) &&
     flt.includeAcked && flt.includeSilenced && flt.includeSoft){
  <label for="inpStickySilence"
         title="When checked SMG will apply silencing to newly defined state trees matching the regex/regex exclude filters too">
    Sticky silencing:
  </label>
  <input type="checkbox" id="inpStickySilence" onclick="stickySilenceChange()" />
  <span id="spanStickySilenceDesc" style="display: none">
    <label for="inpStickySilenceDesc">Stickly silencing description (optional):</label>
      <input type="text" id="inpStickySilenceDesc">
  </span>
  }
</div>

<!-- strip empty params from the form so that urls are less cluttered -->
<script language="JavaScript">

    smgAutocompleteSetup('inpRx',     '/json/cmdtokens');
    smgAutocompleteSetup('inpRxx',    '/json/cmdtokens');

    function stickySilenceChange(){
      var stickyVal = document.getElementById("inpStickySilence").checked;
      var descElem = document.getElementById("inpStickySilenceDesc");
      if (stickyVal) {
        $("#spanStickySilenceDesc").show();
      } else {
        descElem.value = "";
        $("#spanStickySilenceDesc").hide();
      }
    }

    function remoteChanged(elem) {
      document.getElementById("treeRoot").value = "" ;
      mySubmitOnChange(elem);
    }

    function disableEmptyInputs() {
        $(':input', this).each(function() {
           this.disabled = !($(this).val()) ||
              ((this.name == "remote") && ($(this).val() == "@{SMGRemote.local.id}")) ||
              ((this.name == "ms") && ($(this).val() == "OK")) ||
              ((this.name == "lmt") && ($(this).val() == @defLimit))
        });
    };

    function realSubmit() {
        setTimeout(0, $('#btn_GET').click());
    }

    function mySubmitOnChange(elem) {
        disableEmptyInputs();
        realSubmit();
    }

    function goToRoot(rootId) {
      document.getElementById("treeRoot").value = rootId
      document.getElementById("inpMs").value = ''
      document.getElementById("inpRx").value = ''
      document.getElementById("inpRxx").value = ''
      disableEmptyInputs();
      realSubmit();
    }

    function silenceAllMatching() {
      var until = document.getElementById("inpSilenceAllUntil").value;
      var stickyVal = false;
      var stickyDescVal = "";
      var stickySElem = document.getElementById("inpStickySilence");
      if (stickySElem) {
        stickyVal = stickySElem.checked;
        stickyDescVal = document.getElementById("inpStickySilenceDesc").value;
      }
      var sickyConfirmStr = stickyVal ? " and any matching ones defined in the future" : "";
      if (confirm("Silence all @total matching state trees@if(total > trees.size){ (including not displayed)}" + sickyConfirmStr +
          " for " + until + "?")){
        document.getElementById("frmInpSilenceAllUntil").value = until;
        document.getElementById("inpCurl").value = '@Html(curUrl)';
        if (stickyVal){
          document.getElementById("frmInpStickySilence").value = stickyVal ? "on" : "off";
          document.getElementById("frmInpStickySilenceDesc").value = stickyDescVal;
        }
        realSubmit();
      }
    }
    $('form#runTreeFilterForm').submit(disableEmptyInputs);
</script>

<h5><a href="?" onclick="goToRoot(''); return false">Top Level</a></h5>
@defining(trees.groupBy{t => SMGRemote.remoteId(t.node.id)}) { byRmtId =>
  @defining(
  (Seq(SMGRemote.local) ++ cfSvc.config.remotes).map { r => (r, byRmtId.getOrElse(r.id, Seq()))}.filter(t => t._2.nonEmpty)
  ){ byRemote =>
  @for(tpl <- byRemote) {
  @remoteDisplay(tpl._1)
  <ul>
  @for(tree <- tpl._2){
    <li>
      @if(tree.node.parentId.isDefined){
      <p>Parent: <a href="?rid=@tree.node.parentId.get" onclick="goToRoot('@tree.node.parentId.get'); return false">@tree.node.parentId.get</a></p>
      }
      @monitorStateTreeDisplay(tree, tree.node.id == rootId.getOrElse(""), curUrl)
    </li>
    }
  </ul>
  }
}
}

@if(trees.size < total){
<p><b>... (more than limit)</b></p>
}

}
