@import com.smule.smg.config.SMGConfigService
@import com.smule.smg.remote.SMGRemote
@import com.smule.smg.monitor.SMGMonState
@import com.smule.smg.monitor.SMGState
@import com.smule.smg.monitor.SMGMonFilter
@import com.smule.smg.monitor.SMGMonitorStatesResponse

@(cfSvc: SMGConfigService, availRemotes:Seq[String], availStates:Seq[String], selectedRemotes: Seq[String],
  localResponse: Option[SMGMonitorStatesResponse], fetchRemotes: Seq[SMGRemote], flt:SMGMonFilter, curUrl: String)(implicit flash: Flash)

@main("SMG - Monitor problems", cfSvc, 60) {

@monitorMenu("problems")


<h3>Problems</h3>

<form id="monProbsFilterForm" method="GET" action="/monitor" class="filter-form">
  @if(availRemotes.nonEmpty){
  <label class="autosubmit-lbl">Remote filter:</label>
  @remoteSelect(selectedRemotes, availRemotes, "mySubmitOnChange(this);")
  }
  <label class="autosubmit-lbl">Minimal Severity filter:</label>
  <select name="ms" onchange="mySubmitOnChange(this);" >
    @for( sid <- availStates) {
    <option value='@sid' @if(sid == flt.minState.map(_.toString).getOrElse("WARNING")){ selected } >@sid</option>
    }
  </select>

  <label class="autosubmit-lbl" for="cbSoft">Display soft errors</label>
  <input id="cbSoft" type="checkbox" name="soft" onchange="mySubmitOnChange(this);" @if(flt.includeSoft){ checked } />
  <label class="autosubmit-lbl" for="cbSlncd">Display silenced/acknowledged errors</label>
  <input id="cbSlncd" type="checkbox" name="slncd" @if(flt.includeSilenced){ checked } onchange="mySubmitOnChange(this);" />

  <input id="btn_GET" type="submit" value="Refresh">
</form>

<!-- strip empty params from the form so that urls are less cluttered -->
<script language="JavaScript">
  function disableEmptyInputs() {
      $(':input', this).each(function() {
         this.disabled = ((this.name != "remote") && !($(this).val())) ||
           ((this.name == "remote") && ($(this).val() == "*")) ||
           ((this.name == "ms") && ($(this).val() == "WARNING")) ;
      });
  };

  function mySubmitOnChange(elem) {
      disableEmptyInputs();
      setTimeout(0, $('#btn_GET').click());
  }

  $('form#monProbsFilterForm').submit(disableEmptyInputs);
</script>

<hr/>
<div>
  <div style="float: left">
    @monitorMuteUnmute("*", false, curUrl)
  </div>
  <div style="float: none">
    @monitorMuteUnmute("*", true, curUrl)
  </div>
</div>
<hr/>

@if(localResponse.isDefined){
@remoteDisplay(SMGRemote.local)
<div id="msResponse-local">
  @monitorProblemsResponse(localResponse.get, curUrl)
</div>
}

@for(remote <- fetchRemotes) {

@remoteDisplay(remote)
<div id="msResponse-@{remote.name}">
  Loading ...
</div>

<script  language="JavaScript">
$(document).ready(function() {
 $('#msResponse-@{remote.name}').load(
 '/monitor/rmtsect?remote=@{
 java.net.URLEncoder.encode(remote.id, "UTF-8")
 }&soft=@{
 flt.includeSoft
 }&slncd=@{
 flt.includeSilenced
 }&ms=@{
 flt.minState.map(_.toString).getOrElse("WARNING")
 }&uri=@{
 java.net.URLEncoder.encode(curUrl, "UTF-8")
 }'
 );
});
</script>

}
}
