@import com.smule.smg.monitor.SMGMonitorStatesResponse
@import com.smule.smg.monitor.SMGState

@(msr: SMGMonitorStatesResponse, curUrl: String, isAdmin:Boolean)

@monitorMuteUnmute(msr.remote.id, msr.isMuted, curUrl, isAdmin)

<div>
  @if(msr.states.isEmpty) {
  <span style="color: green">No issues</span>
  } else {
  <ul>
    @for((ms,ix) <- msr.states.zipWithIndex) {
    <li>
      <span style="background-color: @ms.severityColor;">@{ms.currentStateVal}</span>
      [<a href="@ms.showUrl"><b>Link/Graphs</b></a>] @ellipsifyText(ms.text, 1600)
      [ @if(ms.isHard){ <strong>HARD</strong> } else { SOFT } ]

      @monStateActions(ms, Some(curUrl), isAdmin)

      @if(ms.currentStateVal == SMGState.FAILED){
        @monStateRerunAction(ms.id, isAdmin)
      }

      @if(msr.activeAlerts.contains(ms.alertKey)) {
      @defining(msr.activeAlerts(ms.alertKey)) { aa =>
      <br/>
      <strong>Active alert:</strong> @{aa.text}
      }
      }
    </li>
    }
  </ul>
  }
</div>
