@import com.smule.smg.monitor.SMGMonState
@(monStates: Seq[SMGMonState], svgColsW: Option[Int], inPageHrefs: Boolean, msoid2ovid: Map[String, String])
@MAX_STATES = @{ 3 }
@CELL_WIDTH = @{ 9 }
@CELL_PADDING = @{ 1 }
@CELL_SPACE = @{ CELL_WIDTH + CELL_PADDING }
@SVG_WIDTH = @{svgColsW.map{ c => (c * CELL_SPACE) + 2}.getOrElse(600) }
@CELL_HEIGHT = @{ 8 }
@ROW_HEIGHT = @{ CELL_HEIGHT * MAX_STATES }
@ROW_PADDING = @{ 1 }
@ROW_SPACE = @{ ROW_HEIGHT + ROW_PADDING }
@objsPerRow = @{ SVG_WIDTH / CELL_SPACE }
@len = @{ monStates.size }
@svgRows = @{  (len / objsPerRow) + (if (len % objsPerRow != 0) 1 else 0) }
@svgHeight = @{ if (len>0) svgRows * ROW_SPACE else ROW_SPACE }
<svg class="msc"
     width="@SVG_WIDTH" height="@svgHeight"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
  @if(monStates.nonEmpty){
    @for((msvc, rowi) <- monStates.grouped(objsPerRow).zipWithIndex){
      @for((mso,ix) <- msvc.zipWithIndex){
      @defining(if (inPageHrefs) {
          msoid2ovid.get(mso.oid.getOrElse("")).map(ovid => "#" + ovid).getOrElse(mso.showUrl)
        } else {
          mso.showUrl
      }) { hrefUrl =>
      <a xlink:href= "@hrefUrl" target="_parent" onmouseover="showSvgData('@{mso.dataUrl}', this)" >
        <title></title>
        @for((ms,ixx) <- mso.recentStates.take(MAX_STATES).zipWithIndex){
        <rect data-ixx="@ixx" fill="@{ms.stateColor}" width="@CELL_WIDTH" height="@CELL_HEIGHT"
              x="@{ix * CELL_SPACE}" y="@{(rowi * ROW_SPACE) + (ixx * CELL_HEIGHT)}">
        </rect>
        <text font-size="@{CELL_WIDTH - 1}" fill="@ms.textColor"
              x="@{ix * CELL_SPACE + 2}" y="@{(rowi * ROW_SPACE) + ((ixx + 1) * CELL_HEIGHT) - 1}">
          @ms.charRep
        </text>
        }
      </a>
      }
      }
    }
  } else {
    <text  x="5" y="18" fill="red">No monitoring data available</text>
  }
</svg>
