@import com.smule.smg.SMGPlugin
@import com.smule.smg.SMGRemote
@import com.smule.smg.SMGMonState
@import com.smule.smg.SMGState

@(plugins: Seq[SMGPlugin], monitorStates: Seq[(SMGRemote, Seq[SMGMonState])], inclSoft: Boolean, inclAcked: Boolean, inclSlncd: Boolean)

@main("SMG - Monitor overview", plugins, 60) {
  <div>
    <h6>
      <a href="/monitor/runtree">Run trees</a> |
      <a href="/monitor/log">Monitor Log</a> |
      <a href="/monitor/heatmap">Monitor Heatmap</a>
    </h6>
  </div>

  <h3>Current monitoring status</h3>

  <form method="GET" action="/monitor" id="smgMonitorIssuesForm">
    <input type="hidden" id="inputAction" name="action" value="" />
    <input type="hidden" id="inputUntil" name="until" value="" />
    <input type="hidden" id="inputId" name="oid" value="" />
    <label class="autosubmit-lbl" for="cbSoft">Display Soft errors</label>
      <input id="cbSoft" type="checkbox" name="soft" @if(inclSoft){ checked } onchange="mySubmit()" />
    <label class="autosubmit-lbl" for="cbAcked">Display Acknowledged errors</label>
      <input id="cbAcked" type="checkbox" name="ackd" @if(inclAcked){ checked } onchange="mySubmit()" />
    <label class="autosubmit-lbl" for="cbSlncd">Display Silenced objects</label>
    <input id="cbSlncd" type="checkbox" name="slncd" @if(inclSlncd){ checked } onchange="mySubmit()" />
    <input id="btn_GET" type="submit" value="Refesh">
  </form>

  <!-- strip empty params from the form so that urls are less cluttered -->
  <script language="JavaScript">
    function disableEmptyInputs() {
        $(':input', this).each(function() {
            this.disabled = !($(this).val());
        });
    };

    function mySubmit() {
      disableEmptyInputs();
      setTimeout(0, $('#btn_GET').click());
    }

    function myAckUnack(oid, act) {
      document.getElementById("inputAction").value = act;
      document.getElementById("inputId").value = oid;
      mySubmit()
    }

    function mySilenceUnsilence(oid, inpId, act) {
      document.getElementById("inputAction").value = act;
      if (inpId) {
        document.getElementById("inputUntil").value = document.getElementById(inpId).value;
      }
      document.getElementById("inputId").value = oid;
      mySubmit()
    }

    function myAckObj(oid) { myAckUnack(oid, "ack") }

    function myUnackObj(oid) { myAckUnack(oid, "unack") }

    function mySilenceObj(oid, inpId) {
      if (!inpId) {
        if (!confirm("Are you sure you want to permanently silence alerts for object " + oid)){
          return;
        }
      }
      mySilenceUnsilence(oid, inpId, "slnc")
    }

    function myUnsilenceObj(oid) { mySilenceUnsilence(oid, null, "unslnc") }

    function myAckPf(oid) { myAckUnack(oid, "ackpf") }

    function myUnackPf(oid) { myAckUnack(oid, "unackpf") }

    function mySilencePf(oid, inpId) {
      if (!inpId) {
        if (!confirm("Are you sure you want to permanently silence alerts for all objects depending on pre_fetch: " + oid)){
          return;
        }
      }
      mySilenceUnsilence(oid, inpId, "slncpf")
    }

    function myUnsilencePf(oid) { mySilenceUnsilence(oid, null, "unslncpf") }

    $('form#smgMonitorIssuesForm').submit(disableEmptyInputs);
  </script>


  <hr/>
  @for((r, mss) <- monitorStates) {
  @remoteDisplay(r)

  <div>
    @if(mss.isEmpty) {
    <span style="color: green">No issues</span>
    } else {
    <ul>
      @for((ms,ix) <- mss.zipWithIndex) {
      <li>
        <span style="background-color: @ms.severityColor;">@{ms.currentStateVal}</span> <a href="@ms.showUrl">@ms.text</a>
        [ @if(ms.isHard){ <strong>HARD</strong> } else { SOFT } ]
        @if(ms.oid.isDefined) {
          @monitorIssueActions(ix, r, ms, ms.oid.get, "Obj")
        } else {
          @if(ms.pfId.isDefined && ms.currentStateVal == SMGState.E_FETCH) {
            @monitorIssueActions(ix, r, ms, ms.pfId.get, "Pf")
          }
        }
      </li>
      }
    </ul>
    }
  </div>
  }
}
