@import com.smule.smg.config.SMGConfigService
@import com.smule.smg.remote.SMGRemote
@import com.smule.smg.monitor.SMGMonitorLogMsg
@import com.smule.smg.monitor.SMGMonitorLogFilter
@import com.smule.smg.monitor.SMGState ; var prevHrTs = 0

@(cfSvc: SMGConfigService, availRemotes:Seq[String], availStates:Seq[String],
  defPeriod:String, defLimit:Int, flt: SMGMonitorLogFilter, logMsgs: Seq[SMGMonitorLogMsg])(implicit flash: Flash)

@main("SMG - Monitor event log", cfSvc) {

@monitorMenu("log")

<h3>Event log</h3>

<div>
<form id="monLogFilterForm" method="GET" action="/monitor/log" class="filter-form">
  @if(availRemotes.nonEmpty){
  <label class="autosubmit-lbl">Remote filter:</label>
  @remoteSelect(flt.rmtIds, availRemotes, "mySubmitOnChange(this);")
  }
  <label class="autosubmit-lbl">Minimal Severity filter:</label>
  <select name="ms" onchange="mySubmitOnChange(this);" >
    @for( sid <- availStates) {
    <option value='@sid' @if(sid == flt.minSeverity.map(_.toString).getOrElse("WARNING")){ selected } >@sid</option>
    }
  </select>
  <label class="autosubmit-lbl">Limit since</label>
  <input type="text" name="p" value="@{flt.periodStr}" onchange="mySubmitOnChange(this)" />

  <label class="autosubmit-lbl">Limit number</label>
  <input type="number" name="l" value="@{flt.limit}" min="1" max="100000" onchange="mySubmitOnChange(this);" />

  <label class="autosubmit-lbl" for="cbSoft">Display soft errors</label>
    <input id="cbSoft" type="checkbox" name="soft" onchange="mySubmitOnChange(this);" @if(flt.inclSoft){ checked } />

  <label class="autosubmit-lbl" for="cbSlncd">Display silenced/acknowledged errors</label>
    <input id="cbSlncd" type="checkbox" name="slncd" onchange="mySubmitOnChange(this);" @if(flt.inclSilenced){ checked } />

  <br/>

  <label class="manualsubmit-lbl" for="inpRx"
         title="Display only states which have ids matching the specified case insensitive regular expression">Regex filter</label>
    <input id="inpRx" type="text" name="rx" value='@{flt.rx.getOrElse("")}' />

  <label class="manualsubmit-lbl" for="inpRxx"
         title="Filter out states which have ids matching the specified case insensitive regular expression">Regex exclude filter</label>
    <input id="inpRxx" type="text" name="rxx" value='@{flt.rxx.getOrElse("")}' />

  <!-- separator -->

  <div class="form-group" style="width: 5px;">
    &nbsp;
  </div>

  <input style="display: none" id="btn_GET" type="submit">
  <input type="button" value="Refresh" onclick="mySubmitOnChange(this);">

</form>

  <!-- strip empty params from the form so that urls are less cluttered -->
<script language="JavaScript">
  function disableEmptyInputs() {
      $(':input', this).each(function() {
         this.disabled = ((this.name != "remote") && !($(this).val())) ||
           ((this.name == "remote") && ($(this).val() == "*")) ||
           ((this.name == "ms") && ($(this).val() == "WARNING")) ||
           ((this.name == "p") && ($(this).val() == "@defPeriod")) ||
           ((this.name == "l") && ($(this).val() == "@defLimit"))
           ;
      });
  };

  function mySubmitOnChange(elem) {
      disableEmptyInputs();
      setTimeout(0, $('#btn_GET').click());
  }

  $('form#monLogFilterForm').submit(disableEmptyInputs);
</script>

</div>

<hr/>

<ul class="monlog">
  <li><b>---- (now) [@{SMGMonitorLogMsg.tsFmt(SMGState.tssNow)}]----</b></li>
  @{prevHrTs = SMGMonitorLogMsg.hourTs(SMGState.tssNow)}
  @for((hrts, mls) <- logMsgs.groupBy(_.hourTs).toSeq.sortBy(t => -t._1)) {
    @if(prevHrTs - hrts > 3600){
    <li><b>---- ... @{ ((prevHrTs - hrts) / 3600) - 1 }h ... ----</b></li>
    }
    @for(ms <- mls) {
    <li>
      [@{ if(ms.remote.id == SMGRemote.local.id) SMGRemote.localName else ms.remote.id }]
      [@{ms.tsFmt}]: <span class="ml-type-@{ms.mltype}">@{ms.mltype}</span>
      @if(ms.ouids.nonEmpty) {
        <a href="/dash?@{ms.objectsFilterWithRemote}">@{ms.msIdFmt}</a>
      } else { @{ms.msIdFmt} }
      (n=@{ms.repeat}, @if(ms.isHard){ <strong>HARD</strong> } else { SOFT })
      <span class="ml-msg">@{ms.msg}</span>
    </li>
    }
  <li><b>----[@{mls.head.tsFmt(mls.head.hourTs)}]----</b></li>
  @{prevHrTs = hrts}
  }
</ul>

<p><i>Displaying @{logMsgs.size} messages (limit: @{flt.limit}).@if(logMsgs.size == flt.limit){ Increase limit to see more.}</i></p>

}
