@(ixid: String, isAdmin: Boolean)

@defining(java.util.UUID.randomUUID.toString) { formUUID =>

<script language="JavaScript">
  function showMonStateActions_@{formUUID.replace("-","")}(){
    var msidhmElem = document.getElementById('msidhm_@formUUID');
    $.ajax("/monitor/indexSvg?ixid=@ixid", {
        dataType: "text",
        success: function(data) {
          msidhmElem.innerHTML = data;
          document.getElementById('msidact_@formUUID').style.display = 'block';
        }
      })
  }
</script>

<img width="16" height="16"
     style="cursor: pointer;"
     onclick='showMonStateActions_@{formUUID.replace("-","")}();'
     title="Show status and actions"
     src='@routes.Assets.versioned("images/eye.png")'
>

<div id="msidact_@formUUID" class="monStateIndexActions" style="display: none">
  <span id="msidhm_@formUUID"></span><br/>
  @monStateIndexSilence(ixid, formUUID, isAdmin)
</div>

}
