@import com.smule.smg.SMGFilter

@(period:String, flt: SMGFilter, cols: Int, rows: Int, pg: Int, maxPg: Int)

<nav>
    <ul class="pagination">
        @if(pg > 0) {
            <li>
                <a href="/dash?@flt.asUrlForPage(pg - 1, Some(cols), Some(rows), Some(period))" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        } else {
            <li class="disabled">
                <span aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
        }

        @for( p <- 0 to (maxPg - 1)) {
            <li @if(p == pg) {
                class="active"
                }>
                <a href="/dash?@flt.asUrlForPage(p, Some(cols), Some(rows), Some(period))">@(p + 1)</a>
            </li>
        }
        @if(pg < maxPg - 1) {
            <li>
                <a href="/dash?@flt.asUrlForPage(pg + 1, Some(cols), Some(rows), Some(period))" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        } else {
            <li class="disabled">
                <span aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>
        }

    </ul>
</nav>
