@import com.smule.smg.remote.SMGRemote
@(selectedRemotes: Seq[String], availRemotes:Seq[String], onChange: String)

<select id="smg-filter-remote" class="smg-filter-remote" name="remote" multiple="multiple" onchange="@onChange" >
  @for( rid <- availRemotes) {
  <option value='@rid' @if(selectedRemotes.contains(rid)){ selected } >@if(rid == SMGRemote.local.id){@{SMGRemote.localName}}else{@rid}</option>
  }
</select>

<script type="text/javascript">
    $('#smg-filter-remote').select2();

    $('#smg-filter-remote').on('select2:selecting', function (e) {
      var jqElem = $('#smg-filter-remote')
      var myVals = jqElem.val(); // values before selecting
      var data = e.params.args.data;
      if (data.id == "@{SMGRemote.wildcard.id}") {
        jqElem.val(['@{SMGRemote.wildcard.id}'])
      } else {
        if (myVals){
          var wcix = myVals.indexOf('@{SMGRemote.wildcard.id}');
          if (wcix > -1){
            myVals.splice(wcix,1);
          }
        } else {
          myVals = [];
        }
        myVals.push(data.id);
        jqElem.val(myVals);
      }
    });

    $('#smg-filter-remote').on('select2:unselecting', function (e) {
      var jqElem = $('#smg-filter-remote')
      var myVals = jqElem.val(); // values before selecting
      var data = e.params.args.data;
      if (data.id == "@{SMGRemote.wildcard.id}") {
        e.preventDefault();
      } else {
        if (myVals.length == 1){
          jqElem.val(['@{SMGRemote.wildcard.id}']);
        }
      }
    });

</script>
