@import com.smule.smg.core.SMGFetchCommandTree
@import com.smule.smg.monitor.SMGMonState
@(seq: Seq[SMGFetchCommandTree], levelOffs: Int, maxLevels: Int, rootId: String, curUrl: String)

<ul xmlns="http://www.w3.org/1999/html">
  @for(t <- seq){
    <li>
      <p>
        @if(t.node.id == rootId) {
          <strong>@t.node.id</strong>
        } else {
        <a href="?root=@t.node.id" onclick="goToRoot('@t.node.id'); return false">@t.node.id</a>
        }
        @if(t.node.isRrdObj) {
        [<a href="/inspect/@t.node.id">Inspect</a>]
        }
      <br/>
      <i>(@{t.node.command.timeoutSec}s) @t.node.command.str</i>
      </p>
      @if(!t.isLeaf && levelOffs > 0){
        @views.html.runTreesDisplay(t.children, levelOffs - 1, maxLevels, rootId, curUrl)
      }
    </li>
  }
</ul>

