@import com.smule.smg.SMGPlugin
@import com.smule.smg.SMGFetchCommandTree
@import com.smule.smg.SMGMonState
@(plugins: Seq[SMGPlugin], rmtId: String, availRemotes:Seq[String], trees: Map[Int,Seq[SMGFetchCommandTree]], rootId: String, parentId: Option[String], maxLevels: Int, defaultLevels: Int, curUrl: String)

@main("SMG - Run trees", plugins, 0) {

@monitorMenu("runtrees")

  <h3>Run trees</h3>

  <div>
    <form id="runTreeFilterForm" method="GET">
      @if(availRemotes.nonEmpty){
      <label class="autosubmit-lbl">Remote filter:</label>
      <select name="remote" class="select-remote" onchange="remoteChanged(this);" >
        @for( rid <- availRemotes ) {
        <option value='@rid' @if(rid == rmtId){ selected } >@if(rid == ""){Local}else{@rid}</option>
        }
      </select>
      }
      <input type="hidden" id="runTreeRoot" name="root" value="@rootId">
      @if(rootId == ""){
        <label class="autosubmit-lbl">Levels:</label>
        <input type="number" name="lvls" value="@maxLevels" min="1" max="5" onchange="mySubmitOnChange(this);" >
      }
      <input style="display: none" id="btn_GET" type="submit" value="Filter">
    </form>
  </div>

  <!-- strip empty params from the form so that urls are less cluttered -->
  <script language="JavaScript">

    function remoteChanged(elem) {
      document.getElementById("runTreeRoot").value = "" ;
      mySubmitOnChange(elem);
    }

    function disableEmptyInputs() {
        $(':input', this).each(function() {
           this.disabled = !($(this).val()) ||
              ((this.name == "lvls") && ($(this).val() == @defaultLevels))
        });
    };

    function realSubmit() {
        setTimeout(0, $('#btn_GET').click());
    }

    function mySubmitOnChange(elem) {
        disableEmptyInputs();
        realSubmit();
    }

    function goToRoot(rootId) {
      document.getElementById("runTreeRoot").value = rootId
      realSubmit();
    }

    $('form#runTreeFilterForm').submit(disableEmptyInputs);
  </script>


@for(iv <- trees.keys.toList.sorted) {
  <hr />

  <a name="interval_@iv"></a>
  <h4>Interval: @iv seconds</h4>

    @if(parentId.isDefined){
     <p>Parent: <a href="?root=@parentId.get" onclick="goToRoot('@parentId.get'); return false">@parentId.get</a></p>
    } else {
     <p><a href="?remote=@rmtId#interval_@iv">Top level</a></p>
    }

    @runTreesDisplay(trees(iv), if (rootId == "") maxLevels - 1 else maxLevels, maxLevels, rootId, curUrl)

  }

  <hr />

}

