@import com.smule.smg.SMGImageView
@import com.smule.smg.SMGObjectView
@import com.smule.smg.SMGAggObjectView
@import com.smule.smg.SMGConfigService
@import com.smule.smg.GraphOptions
@import com.smule.smg.SMGMonState
@import com.smule.smg.SMGIndex
@import com.smule.smg.SMGMonStateAgg

@(cfSvc: SMGConfigService, obj: SMGObjectView, lst: Seq[SMGImageView], cols: Int, cwidth: Int,
  gopts: GraphOptions, showMs: Boolean, ms: Seq[SMGMonState], ixes: Seq[SMGIndex], isPost: Boolean)(implicit flash: Flash)

  @main("SMG - " + obj.title, cfSvc, if (isPost) 0 else 300) {

  <script>
  function mySubmitOnChange(elem) {
    var baseUrl = '@obj.showUrl';
    if (baseUrl.indexOf('?') == -1) {
      baseUrl += '?';
    } else {
      baseUrl += '&';
    }
    var dppVal = "";
    if (document.getElementById('dpp_cb').checked) {
      dppVal = "on"
    }
    var d95pVal = "";
    if (document.getElementById('d95p_cb').checked) {
      d95pVal = "on"
    }
    var maxYVal = document.getElementById('maxy_inp').value;
    var minYVal = document.getElementById('miny_inp').value;
    var logYVal = "";
    if (document.getElementById('logy_cb').checked) {
      logYVal = "on"
    }
    var myUrl = baseUrl + "dpp=" + dppVal +
        "&d95p=" + d95pVal + "&maxy=" + maxYVal + "&miny=" + minYVal + "&logy=" + logYVal;
    window.location = myUrl;
  }
  </script>
  @if(isPost){
    <div align="center"><h4><font color="red">@{cfSvc.URL_TOO_LONG_MSG}</font></h4></div>
  }
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Display @if(obj.isAgg){Aggregate }Object: @obj.title (@obj.rrdType)</h2>
    </div>
    <div class="panel-body">
      <div class="form-group">

        <label class="autosubmit-lbl"
                 title="Requested graphs Y scale (max).
Changing this reloads the page.">MaxY:</label>
        <input id="maxy_inp" size="12" type="text" name="maxy" pattern="[0-9\.\+\-E]+" value="@gopts.maxY" onchange="mySubmitOnChange(this);">

        <label class="autosubmit-lbl"
               title="Requested graphs Y scale (min, default is 0.0).
Changing this reloads the page.">MinY:</label>
        <input id="miny_inp" size="12" type="text" name="miny" pattern="[0-9\.\+\-E]+" value="@gopts.minY" onchange="mySubmitOnChange(this);">

        <label for="dpp_cb" class="autosubmit-lbl" title="Disable the dotted line(s) representing the previous period value(s).
Changing this reloads the page.">Disable Period-Over-Period:</label>
        <input type="checkbox" id="dpp_cb"
               onchange="mySubmitOnChange(this);" @if(gopts.disablePop){ checked } />

        <label for="d95p_cb" class="autosubmit-lbl" title="Disable the straight dotted line(s) representing the 95%-ile value(s).
Changing this reloads the page.">Disable 95%-ile line:</label>
        <input type="checkbox" id="d95p_cb"
               onchange="mySubmitOnChange(this);" @if(gopts.disable95pRule){ checked } />

        @defining(if(gopts.minY.getOrElse(0.0) > 0) "autosubmit-lbl" else "disabled-lbl"){ logYCbClass =>
        <label for="logy_cb" class="@logYCbClass" title="Logarithmic Y-scale (requires MinY > 0).
Changing this reloads the page.">Logarithmic Y:</label>
        }
        <input type="checkbox" id="logy_cb"
               onchange="mySubmitOnChange(this);" @if(gopts.logY){ checked } @if(gopts.minY.getOrElse(0.0) <= 0.0){ disabled } />

        [<a href="@{obj.dashUrl}">View on dashboard</a>]
        @if(obj.parentDashUrl.isDefined) {
        | [<a href="@{obj.parentDashUrl.get}">Parent dashboard</a>]
        }
        @if(obj.inspectUrl.isDefined) {
        | [<a href="@{obj.inspectUrl.get}">Inspect</a>]
        }
      </div>
    </div>
  </div>

  @if(obj.isAgg){
  <h5>@{obj.asInstanceOf[SMGAggObjectView].groupByKey.desc}</h5>
  }

  @if(showMs) {
  <div>
    <div class="subtitle-div">
    @monitorSvgObjects(ms, Some(ms.size), false, Map())
    </div>
    @if(!obj.isAgg){
    <div class="subtitle-div">
      @monStateActions(SMGMonStateAgg.aggByParentId(ms).head._2, None)
    </div>
    }
  </div>
  }

  <!-- @obj -->
  <div class="smgraphcontainer">
      <div class="smgrow">
        @for( (g, ix) <- lst.zipWithIndex) {
        <div class="smgcell" style="max-width: @{cwidth}px;">
          <a name="@g.obj.id" ></a> <a name="@g.period" ></a> <a name="@g.obj.id-@g.period" ></a>
          <div class="smgraph">
            <h5>Period: @g.period, @g.resolution(cfSvc.config.rrdConf)
              @if(g.obj.stack) {
                (stacked)
              }
              [<a href="@{g.fetchUrl}">csv</a>,<a href="@{g.fetchUrl}&d=1">dl</a>]
              @for(pa <- cfSvc.plugins.flatMap(_.actions)){
              [<a href="@{pa.actionUrl(g.obj, g.period)}">@{pa.name}</a>]
              }
            </h5>
            @showImage(cfSvc, g)
          </div>
        </div>
        @if(((ix + 1) % cols) == 0) {
      </div><hr/><div class="smgrow">
        }
      }
      </div>
  </div>

  @if(ixes.nonEmpty){
    <div>
      <h5>All matching configured indexes</h5>
      <ul>
        @for(ix <- ixes) {
        <li><a href="/dash?@{ix.asUrl}">@ix.title</a> @{ix.desc.map(d => s"($d)").getOrElse("")}</li>
        }
      </ul>
    </div>

  }

}
